@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;1,700&family=Tilt+Warp&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}
.Montserrat{
	font-family: 'Montserrat', sans-serif;
}
footer{
    background: #464697;
    color: white;
    position: fixed;
    padding: 4vw;
    bottom: 0;
    /*
    margin-top: 93%;*/
}
body{
    /*height: 100vw;*/
}