/* ---- vergas para el celu ----- */
@media screen and (max-width: 662px) {
    
    .rest{
        width: 100%;
    }

    .productos{
        flex-direction: column;
        gap:20px;
    }
    .list__rest{
        flex-direction: column;
    }
    /*
    ::-webkit-scrollbar {
        display: none;
    }
    ::-webkit-scrollbar-track {
       display: none;

    }
    ::-webkit-scrollbar-thumb {
        display: none;
    }
    ::-webkit-scrollbar-thumb:hover {
        display: none;
    }
    */
}